<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrRZj6Cg-mUCYT2FgN4Oldbrvy_IiYs4E</string>
	<key>GCM_SENDER_ID</key>
	<string>285644328548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterOf</string>
	<key>PROJECT_ID</key>
	<string>flutter-offline-first-bac0c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-offline-first-bac0c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285644328548:ios:5c2048acdfa9c58fa39971</string>
</dict>
</plist>